
<div class="panel panel-info">
  <div class="panel-heading">
    <center>
      <h1>Create a new group</h1>
    </center>
  </div>
  <div class="panel-body">
    <% @group.errors.full_messages.each do |error| %>
      <%= error %>
    <% end %>
    <%= form_for @group do |f| %>
      <div class="col-md-4 col-md-offset-4">
        <%= f.label :name %><br>
        <%= f.text_field :name %><br><br>
        <%= f.submit class: "btn btn-default btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
