<ul class="list-group" style="float:left; margin: 40px;">
  <li class="list-group-item"><h4>Your Groups</h4></li>
  <li class="list-group-item"><%= link_to "Turing 1409", "#", class: "btn" %></li>
  <li class="list-group-item"><%= link_to "Turing 1408", "#", class: "btn" %></li>
  <li style="list-style:none;"><%= link_to "Create a new group", "#", class: "btn btn-default", style: "margin:10px 0px;" %></li>
</ul>

<ul class="list-group" style="float:left; margin: 40px; width: 65%;">
  <li class="list-group-item"><h4>TRAINS ABOUT TO LEAVE</h4></li>
  <li class="list-group-item"><%= link_to "Pizza Train - Turing 1409", "#", class: "btn" %></li>
  <li class="list-group-item"><%= link_to "Web Design Train - Turing 1408", "#", class: "btn" %></li>
</ul>
