<div class="header-container">
  <nav class="navbar navbar-default navbar-custom-all" role="navigation">
    <div class="navbar-header">
      <%= link_to "Food Train", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-header">
      <%= image_tag "train.png", class: "backwards", height: "50px" %>
    </div>

    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li><a href="<%= root_path %>"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li><%= link_to "All Groups", groups_path %></li>
        <% if @current_user %>
          <li><a href="<%= my_profile_path %>"><span class="glyphicon glyphicon-user"></span> Edit Profile</a></li>
          <!-- <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Profile <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="<%= my_profile_path %>"><span class="glyphicon glyphicon-user"></span> Edit</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li> -->
        <% else %>
          <li><%= link_to "Log in", logged_in_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
