<!DOCTYPE html>
<html>
<head>
  <title>Food Train</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<% if request.path == root_path %>
  <div class="image-splash col-md-12">
<% else %>
  <%= render partial: "layouts/header" %>
  <%= render partial: "layouts/flash" %>
  <div class="container bg-site">
<% end %>
<%= yield %></div>

</body>
</html>
